# AinosOS GRUB configuration
# Boot with Multiboot2 support

set timeout=5

set default=0

menuentry "AinosOS" {
    multiboot2 /boot/ainos-x86_64.bin
    module2 /boot/initrd.tar
    boot
}

menuentry "AinosOS (Safe Mode)" {
    multiboot2 /boot/ainos-x86_64.bin safemode
    boot
}

menuentry "AinosOS (Debug Mode)" {
    multiboot2 /boot/ainos-x86_64.bin debug
    boot
}

menuentry "System Information" {
    multiboot2 /boot/ainos-x86_64.bin sysinfo
    boot
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}